@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;700&display=swap');

/*Scroll-bar*/
::-webkit-scrollbar{
    width:1.5em;
    background:grey;
}

::-webkit-scrollbar-track{
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius:3em;
}
::-webkit-scrollbar-thumb{
    /*background-image:url(/Images/Facebook.svg);*/
    background-size: contain; 
    background-repeat:no-repeat;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffa751, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffa751, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:2em;
}

body{

    font-family:'DynaPuff', cursive;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ebcf1, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ebcf1, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

.content_login{
    margin:0 auto;
}

#titulo-Auxilitos{
    color:rgb(89, 255, 47);
    font-size:3em;
}

#titulo{

    margin-top: 5%;
    margin-bottom: 1em;

}


.logueo{

    margin-top: 2em;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:10px;
    color: aliceblue;
   
    
}


form .grupo{
    margin-bottom:30px;
    display: block;
    
}

.grupo{
    margin: auto;
}

#correo{

    font-family:'DynaPuff', cursive;
    border-radius:10px;
    font-size:20px;
    background-color:rgb(38, 0, 255);
    color: white;
    margin: auto;
    

}
#contrasena{

    font-family:'DynaPuff', cursive;
    border-radius:10px;
    color: rgb(0, 0, 0);
    background-color:yellow;
    font-size:20px;
    margin:auto;
    

}

#btn_loguearse{

    font-family:'DynaPuff', cursive;
    border-radius:10px;
    background-color: green;
    color: aliceblue;
    font-size:20px;
    cursor: pointer;

}

#img-btn-Facebook{
    cursor: pointer;
}
#img-btn-Google{ 
    cursor:pointer;
}

.footer { 

    position:relative bottom;
    margin-top: 10%;

}

@media screen and (max-width:500px) {
    form {
        width:100%;
    }
}
